
  section {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  h1 {
    color: #0078D7;
  }
  img{
    text-align: center;
  }
  code {
    background-color: #f0f0f0;
    padding: 0.2em 0.4em;
    border-radius: 3px;
  }
  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .rows {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
  }
  .columns img {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: contain;
  }
  small,.note{
    font-size: 0.7rem;
    color: #666;
    margin-top: 0.5rem;
    display: block;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
  }
  .lead {
    font-size: 1.2rem;
  }
  .orange{
    color: #FF5722;
  }
  ul{
    margin-left: 0;
    text-indent: 0;
  }
  li{
    margin-left: 0;
    text-indent: 0;
  }
  li li{
    list-style-type: circle;
    margin-left: 0;
  }